{% extends 'layout.html' %}

{% block content %}

    <div class="jumbotron" style="padding: 10px 20px;">
        <h3>{{ current_user.name }}的个人中心:我的个人信息</h3>
    </div>

    <div>
        {% include 'includes/_user_menu.html' %}
        <div class="col-md-10">
            <div class="jumbotron">
                <h3>注销个人账号</h3>
                <form class="form-group" method="post">
                    <input type="submit" class="btn btn-success" name="submit" value="真的要注销吗？点击确认！">
                </form>
{#                {{ form.submit }}#}
            </div>
        </div>
    </div>

{% endblock %}

{% block js_code %}
    <script>
        $(document).ready(
            function () {
                $('#item-4').addClass('list-group-item-success')
            }
        )
    </script>
{% endblock %}