{% extends 'layout.html' %}

{% block css_style %}
    <link rel="stylesheet" href="{{ url_for('static',filename='custom/custom.css') }}">
{% endblock %}

{% block content %}

    <div class="container" >
        {% include 'includes/_user_menu.html' %}
        <div class="col-md-10">
            {% for item in my_albums %}
                <div class="media-card">
                <div class="panel panel-body" style="display: block;padding: 3px">
                    <div class="card-title">
                        <span style="font-size:large;font-weight:bold;color:#0c0c0c">
                            {{ item.title }}
                        </span>
                        <span style="font-size: small;font-weight: 600;color: #0c0c0c;">
                            {{ item.user.name }}
                        </span>
                    </div>
                    <div class="card-body"></div>
                    <div class="card-image">
                        <a href="album_browse.html" targer="_blank">
                            {#                            <img src="{{ album_coverurl[loop.index0] }}"#}
                            <a href="{{ url_for('main.album_browse',id=item.id) }}">
                                <img src="{{ item.cover_img }}"
                                     width="250px" height="150px">
                            </a>

                        </a>
                    </div>
                    <div class="card-status" style="font-size: small;font-weight: 500;color: #0c0c0c;">
                        <span>图片数量({{ item.photonum }})</span>
                        <span>浏览量({{ item.clicknum }})</span>
                        <span>收藏量({{ item.favornum }})</span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}