.question-info{
    text-align: center;
    margin-top: 20px;
}

.answer-list{
    padding-left: 0;
}
.answer-list li{
    list-style: None;
    border-bottom:1px solid #eee;
    padding-top:10px;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius:50%
}

.user_info{
    color: #9b9b9b;
    font-size: 16px;
    line-height: 30px;
}
.user_info .username{
    margin-left: 15px;
}
.user_info .create-time{
    float: right;
}
.answer-content{
    margin-left:60px ;
}