{% extends 'layout.html' %}

{% block content %}

    <div class="jumbotron" style="padding: 10px 20px;">
        <h3>{{ current_user.name }}的个人中心</h3>
    </div>

    <div>
        {% include 'includes/_user_menu.html' %}
        <div class="col-md-10">
            <div class="jumbotron" style="padding-top: 10px">
                <h3>{{ current_user.name }}的个人中心</h3>
                <p>陌上人如玉,君子世无双</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_code %}
    <script>
        $(document).ready(
            function () {
                $('#nav-center').addClass('active')
            }
        )
    </script>
{% endblock %}