{% extends 'layout.html' %}

{% block content %}

    <div class="jumbotron" style="padding: 10px 20px;">
        <h3>{{ current_user.name }}的个人中心:我的个人信息</h3>
    </div>

    <div>
        {% include 'includes/_user_menu.html' %}
        <div class="col-md-10">
            <div class="jumbotron" style="padding-top: 10px">
                <h3>个人信息</h3>
                <hr style="border:dashed"/>
                <p>用户名:{{ current_user.name }}</p>
                <p>邮箱:{{ current_user.email }}</p>
                <p>手机:{{ current_user.phone }}</p>
                <p>自我介绍:{{ current_user.introduce }}</p>
                <p>生日:{{ current_user.birthday }}</p>
                <p>头像:<img width="250px"
                           src="{{ url_for('static',filename='uploads/{}/{}'.format(current_user.name,current_user.photo))}}"></p>
                <p>陌上人如玉,君子世无双</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_code %}
    <script>
        $(document).ready(
            function () {
                $('#item-1').addClass('list-group-item-success')
            }
        )
    </script>
{% endblock %}