<!-- Static navbar -->
<nav class="navbar navbar-default" style="margin-top: 10px">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Flask</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="nav-index"><a href="{{ url_for('main.index') }}">首页</a></li>
                <li id="nav-album"><a href="{{ url_for('main.album_index') }}">相册</a></li>
{#                <li id="nav-article"><a href="{{ url_for('main.article_index') }}">文章</a></li>#}
{#                <li id="nav-music"><a href="{{ url_for('main.music_index') }}">音乐</a></li>#}
{#                <li id="nav-movie"><a href="{{ url_for('main.movie_index') }}">电影</a></li>#}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li id="nav-center"><a href="{{ url_for('auth.user_center') }}">欢迎你,{{ current_user.name }}</a></li>
                    <li id="nav-logout"><a href="{{ url_for('auth.logout') }}">退出</a></li>
                {% else %}
                    <li id="nav-login"><a href="{{ url_for('auth.login') }}">登录</a></li>
                    <li id="nav-register"><a href="{{ url_for('auth.register') }}">注册</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
